<h1>Functional Demo</h1>
<p>This app uses <%= link_to 'Barby', 'https://github.com/toretore/barby' %> to generate 128-B 1D barcodes and <%= link_to 'Zbar', 'https://github.com/willglynn/ruby-zbar' %> to read them.</p>  
<p>Zbar is deployed using the <%= link_to 'Heroku Buildpack Apt', 'https://github.com/ddollar/heroku-buildpack-apt' %>.  Images are hosted on AWS S3 using <%= link_to 'Paperclip', 'https://github.com/thoughtbot/paperclip' %>.</p>
<p>Basic styling using <%= link_to 'Bourbon', 'https://github.com/thoughtbot/bourbon' %>, <%= link_to 'Neat', 'https://github.com/thoughtbot/neat' %> and <%= link_to 'Refills', 'https://github.com/thoughtbot/refills' %>.</p>
<p>See the <%= link_to 'repo', 'https://github.com/andyweiss1982/barcodes' %> for implementation details.</p>
